<ion-content>
  <ion-card class="left-card">
    <ion-title>Kersys</ion-title>
    <ion-col size="12">
      <ion-row class="ion-justify-content-between">
        <ion-col size="5">
          <ion-input label="Nome completo" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
        </ion-col>
        <ion-col size="5">
          <ion-input label="CPF" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
        </ion-col>
      </ion-row>
    </ion-col>
        <ion-col>
      <ion-input label="Email" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
    </ion-col>
    
    <ion-col>
      <ion-input label="Login" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
    </ion-col>

    <ion-col>
      <ion-input label="Senha" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
    </ion-col>
    <ion-radio>Maculino</ion-radio>
    
    <ion-radio>Feminino</ion-radio>

    
    <ion-radio>Prefiro não informar</ion-radio>

    <ion-checkbox>Li e estou ciente com os Termos de Uso e Politica de Privacidade</ion-checkbox>
  </ion-card>
</ion-content>