<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-title class="ion-text-center">
        <ion-icon name="leaf-outline"></ion-icon> FORMULÁRIO DE PLANTAÇÃO
      </ion-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <!-- SELEÇÃO DO LOTE -->
          <ion-col size="6">
            <ion-item>
              <ion-label position="stacked">SELECIONE UM PLANTIO *</ion-label>
              <ion-select (ionChange)="capturarValor($event)" interface="action-sheet" placeholder="Selecione um Plantio" required>
                <ion-select-option *ngFor="let lote of lotes" [value]="lote.id">{{ lote.nome }}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <!-- TEMPERATURA AMBIENTE -->
          <ion-col size="6">
            <ion-item>
              <ion-label position="stacked">TEMPERATURA AMBIENTE (°C) *</ion-label>
              <ion-input type="number" [(ngModel)]="temperaturaAmbiente" required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <!-- TEMPERATURA SOLO -->
          <ion-col size="6">
            <ion-item>
              <ion-label position="stacked">TEMPERATURA DO SOLO (°C) *</ion-label>
              <ion-input type="number" [(ngModel)]="temperaturaSolo" required></ion-input>
            </ion-item>
          </ion-col>

          <!-- UMIDADE AMBIENTE -->
          <ion-col size="6">
            <ion-item>
              <ion-label position="stacked">UMIDADE AMBIENTE (%) *</ion-label>
              <ion-input type="number" [(ngModel)]="umidadeAmbiente" required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <!-- UMIDADE SOLO -->
          <ion-col size="6">
            <ion-item>
              <ion-label position="stacked">UMIDADE DO SOLO (%) *</ion-label>
              <ion-input type="number" [(ngModel)]="umidadeSolo" required></ion-input>
            </ion-item>
          </ion-col>

          <!-- PH SOLO -->
          <ion-col size="6">
            <ion-item>
              <ion-label position="stacked">PH DO SOLO *</ion-label>
              <ion-input type="number" step="0.1" [(ngModel)]="phSolo" required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
        
          <!-- ÍNDICE UV -->
          <ion-col size="6">
            <ion-item>
              <ion-label position="stacked">ÍNDICE UV *</ion-label>
              <ion-input type="number" [(ngModel)]="indiceUV" required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

      
        <ion-row class="ion-justify-content-end">
        
          <ion-col size="3" size-md="3" class="ion-text-center">
            <ion-button expand="" type="submit" (click)="enviarDados()">ENVIAR</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
