<ion-content>
<ion-split-pane id="menu" [ngClass]="isOpenMenu ? 'open' : ''" when="xs" contentId="main" >
  <ion-menu  contentId="main" style="margin-top: 30px;">
      <ion-label class="ion-align-items-center">
        <h1 class="ion-text-center" style="font-size: 30px;">K</h1>
      </ion-label>
  
  
    <ion-content>

      <ng-container *ngFor="let menu of menus;">
        <div class="menu-item" [routerLink]="['/' + menu.link]" routerLinkActive="selected">
          <ion-icon [name]="menu.icon"></ion-icon>
          <ion-label [ngClass]="isOpenMenu ? '' : 'close'">{{ menu.caption }}</ion-label>
        </div>
      </ng-container>
      
     
    </ion-content>
  
    <ion-row class="icon-container" style="margin-left: -15px;">
   
      
        <ion-icon name="chevron-forward-outline" *ngIf="!isOpenMenu" (click)="openMenu(true)"></ion-icon>
   
    </ion-row>
    <ion-row class="icon-container">
      <ion-icon  
        name="chevron-back-outline" 
        *ngIf="isOpenMenu" 
        [ngClass]="isOpenMenu ? 'close' : ''"
        (click)="openMenu(false)">
      </ion-icon>
      
    </ion-row>
    
  
  </ion-menu>
  
  <div class="ion-page" id="main">
 

    <ion-content id="menu-content">
      <ion-router-outlet></ion-router-outlet>
    </ion-content>

  </div>
</ion-split-pane></ion-content>