<ion-content appScrollbar>
  <ion-card>
    <ion-card-header>
      <ion-title class="ion-text-center ">
        DASHBOARD
      </ion-title>
    </ion-card-header>
    <ion-list>
      <ion-item lines="none">
        <ion-grid>

          <!-- Primeira linha: exibe filtro de usuário SOMENTE para Administrador -->
          <ion-row *ngIf="exibeFiltroUsuario">
            <ion-col size="12" size-md="4">
              <ion-item>
                <ion-label position="stacked">SELECIONE UM USUÁRIO *</ion-label>
                <ion-select interface="action-sheet" placeholder="Selecione um usuário" required>
                  <ion-select-option *ngFor="let usuario of usuarios" [value]="usuario.id">{{ usuario.nome
                    }}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>

            <ion-col size="12" size-md="4">
              <ion-item>
                <ion-label position="stacked">SELECIONE UM LOTE *</ion-label>
                <ion-select (ionChange)="onLoteChange($event)" interface="action-sheet" placeholder="Selecione um Lote"
                  required>
                  <ion-select-option *ngFor="let lote of lotes" [value]="lote.id">{{ lote.fazendaNome
                    }}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>

            <ion-col size="12" size-md="4">
              <ion-item>
                <ion-label position="stacked">QUANTIDADE DE MESES <ion-text
                    color="danger">(Obrigatório)</ion-text></ion-label>
                <ion-input type="number" [(ngModel)]="dataSelecionado"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <!-- Caso não seja Administrador (sem filtro de usuário): só os 3 campos restantes -->
          <ion-row *ngIf="!exibeFiltroUsuario">
            <ion-col size="12" size-md="6">
              <ion-item>
                <ion-label position="stacked">SELECIONE UM LOTE *</ion-label>
                <ion-select (ionChange)="onLoteChange($event)" interface="action-sheet" placeholder="Selecione um Lote"
                  required>
                  <ion-select-option *ngFor="let lote of lotes" [value]="lote.id">{{ lote.fazendaNome
                    }}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>

            <ion-col size="12" size-md="6">
              <ion-item>
                <ion-label position="stacked">QUANTIDADE DE MESES <ion-text
                    color="danger">(Obrigatório)</ion-text></ion-label>
                <ion-input type="number" [(ngModel)]="dataSelecionado"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <!-- Botão sempre aparece na linha seguinte -->
          <ion-row>
            <ion-col size="12" size-md="12">
              <ion-button expand="block" (click)="exibirDashboard()" color="success" style="margin-top: 16px;">
                BUSCAR
              </ion-button>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-item>
    </ion-list>


    <ion-grid class="plantacao-fundo">
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="6">
          <ion-card class="ion-card-dash-1">
            <ion-card-header class="ion-card-header-dash">
              <ion-title class="ion-text-center ion-title-white">
                CRESCIMENTO DA COLHEITA
              </ion-title>
            </ion-card-header>
            <ion-card-content>
              <p-chart *ngIf="exibeDashBoard == true" type="line" [data]="growthData"
                [options]="growthOptions"></p-chart>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-card class="ion-card-dash-1">
            <ion-card-header class="ion-card-header-dash">
              <ion-title class="ion-text-center ion-title-white">
                PROJEÇÃO FINANCEIRA
              </ion-title>
            </ion-card-header>
            <ion-card-content>
              <p class="ion-text-center"><strong>Teto dos Gastos:</strong> R$ {{ tetoGastos }}</p>

              <p-chart *ngIf="exibeDashBoard == true" type="line" [data]="financeData"
                [options]="financeOptions"></p-chart>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

    </ion-grid>

    <ion-grid class="plantacao-fundo">
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="12">
          <ion-card-header class="ion-card-header-dash">
            <ion-title class="ion-text-center ion-title-white">
              Acompanhamento diario
            </ion-title>
          </ion-card-header>
          <ion-card-content *ngIf="exibeDashBoard == true">
            <ion-row *ngFor="let item of dailyData">
              <ion-col size="6" size-md="6" class="ion-text-center">
                {{item.dia}}
              </ion-col>
              <ion-col size="6" size-md="6" class="ion-text-center">
                {{item.status}}
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>

</ion-content>