<ion-content appScrollbar>  
  <ion-label style="padding: 13px;  font-family: 'Poppins'">SELECIONE UMA PROJEÇÃO</ion-label>
  <ion-list>
    <ion-item>
      <ion-select aria-label="lotes" interface="action-sheet" placeholder="SELECIONE UMA PROJEÇÃO" (click)="exibirDashboard()">
        <ion-select-option value="lotes">LOTES</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-grid  class="plantacao-fundo">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="5">
        <ion-card>
          <ion-card-header>
            <ion-title class="ion-text-center">
              <ion-icon name="leaf-outline "></ion-icon> CRESCIMENTO DA COLEITA
            </ion-title>
          </ion-card-header>
          <ion-card-content>
            <p-chart *ngIf="exibeDashBoard == true" type="line" [data]="growthData" style="max-width: 100%; height: 120px;"></p-chart>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="5">
        <ion-card>
          <ion-card-header>
            <ion-title class="ion-text-center">
              <ion-icon name="cash-outline"></ion-icon> PROJEÇÃO FINANCEIRA
            </ion-title>
          </ion-card-header>
          <ion-card-content>
            <p-chart *ngIf="exibeDashBoard == true" type="bar" [data]="financeData" style="max-width: 100%; height: 120px;"></p-chart>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="5">
        <ion-card>
          <ion-card-header>
            <ion-title class="ion-text-center">
              <ion-icon name="analytics-outline"></ion-icon> GASTOS COM SOLO
            </ion-title>
          </ion-card-header>
          <ion-card-content>
            <p-chart *ngIf="exibeDashBoard == true" type="pie" [data]="soilData" style="max-width: 100%; height: 120px;"></p-chart>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
